.login .container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.login .form-group {
    margin-bottom: 15px;
}

.login label {
    font-weight: bold;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: #0069d9;
}

.login button:active {
    background-color: #0056b3;
}

.login button:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
    .login .container {
        margin: 50px auto;
        padding: 15px;
    }

    login h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }
}